@model IEnumerable<noter.Entities.Tag>

@{
    Layout = "_Mainlayout";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <td>
            @Html.DisplayNameFor(mm => mm.Name)
        </td>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(it => item.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id='@item.Id'>Details</a>
            </td>
            <td>
                <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
