@model List<noter.ViewModel.SelectableTag>
@functions {

    // the form in this view returns a list of tags that needs to be bound
    // to the EditModelVM.  The elements of the list need to have names that
    // fit with the EditModelVM.
    // e.g. GetTagControlName(2, "Name") => "Model.SelectableTags[2].Name"
    string GetTagControlName(int index, string propertyName)
    {
        return $"{ViewBag.TagListName}[{index}].{propertyName}";
    }

}

<h2>Tags</h2>

<table class="table">
    <thead>
    <tr>
        <td>
            
        </td>
        <td>
            @Html.DisplayNameFor(m => m[0].Name)
        </td>
        <td>
            @Html.DisplayNameFor(m => m[0].ShortDescription)
        </td>
    </tr>
    </thead>
    <tbody>
    @{
        int ii = 0;
        foreach (var mi in Model)
        {
            <tr>
                <td>
                    <input asp-for="@mi.Id" type="hidden" name = "@GetTagControlName(ii, nameof(mi.Id))"/>
                    <input asp-for="@mi.Included" type="checkbox" name="@GetTagControlName(ii, nameof(mi.Included))"/>
                </td>
                <td>
                    @Html.DisplayFor(m => mi.Name)
                    <input asp-for="@mi.Name" type="hidden" name="@GetTagControlName(ii, nameof(mi.Name))"/>
                </td>
                <td>
                    @Html.DisplayFor(m => mi.ShortDescription)
                    <input asp-for="@mi.ShortDescription" type="hidden" name="@GetTagControlName(ii, nameof(mi.ShortDescription))"/>
                </td>
            </tr>
            ii++;
        }
    }
    </tbody>
</table>
