@model List<noter.ViewModel.SelectableTag>

<h2>Tags</h2>

<table class="table">
    <thead>
    <tr>
        <td>
            
        </td>
        <td>
            @Html.DisplayNameFor(m => m[0].Name)
        </td>
        <td>
            @Html.DisplayNameFor(m => m[0].ShortDescription)
        </td>
    </tr>
    </thead>
    <tbody>
    @{
        int ii = 0;
        foreach (var mi in Model)
        {
            <tr>
                <td>
                    <input asp-for="@mi.Id" type="hidden" name = "SelectableTags[@ii].Id"/>
                    @*                    @Html.CheckBoxFor(m => SelectableTags.Included)*@
                    <input asp-for="@mi.Included" type="checkbox" name="@{ViewBag.TagList}[@ii].Included"/>
                </td>
                <td>
                    @Html.DisplayFor(m => mi.Name)
                    <input asp-for="@mi.Name" type="hidden" name="@{ViewBag.TagList}[@ii].Name"/>
                </td>
                <td>
                    @Html.DisplayFor(m => mi.ShortDescription)
                    <input asp-for="@mi.ShortDescription" type="hidden" name="@{ViewBag.TagList}[@ii].ShortDescription"/>
                </td>
            </tr>
            ii++;
        }
    }
    </tbody>
</table>
