@model List<noter.ViewModel.SelectableTag>
@functions {

    // the form in this view returns a list of tags that needs to be bound
    // to the EditModelVM.  The elements of the list need to have names that
    // fit with the EditModelVM.
    // e.g. GetTagControlName(2, "Name") => "Model.SelectableTags[2].Name"
    string GetTagControlName(int index, string propertyName)
    {
        return $"{ViewBag.TagListName}[{index}].{propertyName}";
    }

}

<ul class="list-inline">
    @{
        int ii = 0;
        foreach (var st in Model)
        {
            <li>
                <input asp-for="@st.Id" type="hidden" name = "@GetTagControlName(ii, nameof(st.Id))"/>
                <div class="checkbox">
                    <label><input asp-for="@st.Included" type="checkbox" name="@GetTagControlName(ii, nameof(st.Included))"/>@st.Name</label>
                </div>
                <input asp-for="@st.Name" type="hidden" name="@GetTagControlName(ii, nameof(st.Name))"/>
                <input asp-for="@st.ShortDescription" type="hidden" name="@GetTagControlName(ii, nameof(st.ShortDescription))"/>
            </li>
            ii++;
        }
    }
</ul>
